/* color palette from <https://github.com/vuejs/theme> */
:root {
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-8: 2rem;
  --primary-color: yellow;
  --success-color: #21ba45, ;
  --danger-color: #db2828;
  --gold-color: #ffd700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: url("../assets/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

@media screen and (max-width: 449px) {
  span {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 319px) {
  span {
    font-size: 0.6rem;
  }
}